{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Python URL Shortener {% endblock %}</h1>
    {% for message in get_flashed_messages() %}
        <div class="alert alert-danger">{{ message }}</div>
    {% endfor %}
    <h4>Welcome {{ username }}!</h4>
    <h4 class="howTo">How To Use</h4>
    <ol>
        <li>Enter desired original URL into the field (eg. www.youtube.com)</li>
        <li>Click the "Shorten" button</li>
        <li>Copy the new shortened link and enter it into browser</li>
    </ol>
    <form method="post">
    <div class="form-group">
        <label for="url">URL</label>
        <input type="text" name="url"
               placeholder="URL to shorten" class="form-control"
               value="{{ request.form['url'] }}" autofocus></input>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Shorten</button>
    </div>
    </form>

    {% if short_url %}
    <hr>
    <span>{{ short_url }}</span>
    {% endif %}
{% endblock %}