{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} URL Shortener Statistics {% endblock %}</h1>
    {% for message in get_flashed_messages() %}
        <div class="alert alert-success">{{ message }}</div>
    {% endfor %}
    <table class="table">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">Shortened Link</th>
            <th scope="col">Original Link</th>
            <th scope="col">Click Count</th>
            <th scope="col">Creation Date</th>
            <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for url in urls %}
                <tr>
                    <th scope="row">{{ url['id'] }}</th>
                    <td>{{ url['short_url'] }}</td>
                    <td>{{ url['original_url'] }}</td>
                    <td>{{ url['clicks'] }}</td>
                    <td>{{ url['created'] }}</td>
                    <td>
                        <form method=POST>
                            <input name="rowId" type="hidden" value="{{ url['id'] }}"/>
                            <input type="submit" value=Delete>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}